<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>category</title>
  </head>

  <%- include('./partials/nav') %>

  <body>
    <h1><%= category %></h1>
    <% menuItem.forEach((dish)=>{%>
      <h2><%= dish.name%></h2>
      <h4><%= dish.price%> BD</h4>
      <h4><%= dish.rating%> stars</h4>
      <h4><%= dish.details%></h4>
    <% }) %>
  </body>
</html>